.AlbumContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: background-color 0.5s ease;
    .album-wrapper {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .album-name, .track-name, .artist-name{
        text-align: center;
    }
    .artist-name {
        font-size: 24px;
    }
    .album-name {
        font-size: 16px;
    }
    .track-info {
        margin-bottom: 16px;
    }
    .track-name {
        font-size: 40px;
    }
    .color-square {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .colors-container {
        margin-top: 16px;
        display: flex;
        justify-content: space-around;
        padding: 0px 20%;
    }
    .content-wrapper {
        margin: auto;
        width: 640px;
    }
}